# _obj_ directory if exists contains objects
/_obj_
# Various outputs
/cuzebox
/cuzebox.exe
/cuzebox.html
/cuzebox.data
/cuzebox.html.mem
/cuzebox.js
# The gamefile.uze ROM needed by the Emscripten build
/gamefile.uze
# If the program created an eeprom dump, ignore that too
/eeprom.bin
